.footer {
    display: flex;
    justify-content: center;
    color: #ACB1D6;
    margin: 50px 0px;
    font-family: 'Roboto', sans-serif;

    img {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }

    .container {
        width: 1400px;

        .top {
            display: flex;
            justify-content: space-between;

            .item {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h2 {
                    font-size: 16px;
                    color: #8294C4;
                }

                span {
                    font-weight: 300;
                }
            }
        }

        hr {
            margin: 25px 0px;
            height: 0px;
            border: 1px solid lightsteelblue;
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                display: flex;
                align-items: center;
                gap: 20px;
                color: #9EDDFF;

                span {
                    font-size: 12px;
                    color: lightpink;
                }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 20px;

                .social {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                .link {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
    }
}